html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
}

body {
    margin-bottom: 60px;
}

.pb-3 {
    height: 1236px;
}

#notes-test-copyright {
    font-size: 12px;
}

#d-main {
    position: relative;
    height: auto;
    width: auto;
}

#d-main canvas {
    position: absolute;
}

#flowCanvas {
    margin-right: 100px;
}

textarea {
    position: absolute;
    max-width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 138%;
    background-color: transparent;
    border-width: 0px;
    outline: none;
    resize: none;
    overflow: hidden;
}

footer {
    min-height: 12px;
}